<div class="container">
  <h2>Tokyo Olympics Dataset</h2>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/login">User Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/about_user">User Profiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/topAthletes">Top Athletes by Country</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/popular">Popular Athletes in USA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/search">Athlete Search</a>
    </li>
	<li class="nav-item">
      <a class="nav-link active" href="/winners">Tokyo Olympic Winners</a>
    </li>    	
  </ul>
</div>
