<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Top Athletes</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>
 <body>
   <%- include('./partials/nav.ejs') %>

<div class="container">
  <h2>Tokyo Olympics Winners!</h2>
  <p>Displays winners and the medals that they won</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Athlete Name</th>
        <th>Medal Won</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% if (result.length > 0) {%>
	<% result.forEach(res => { %>
           <tr>
        	<td><%= res.athlete_name %></td>
        	<td><%= res.medal_type %></td>
        	<td><%= res.country %></td>
  	   </tr>
	<% }) %>
      <% } %>
    </tbody>
  </table>
</div>

</body>
